.card {
    &.default {
        // box-shadow: 0px 2px 10px 10px rgba(0, 0, 0, 0.1);
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 50px;
        overflow: hidden;
        border: 1px solid #e7e7e7;

        .image-container {
            position: relative;
            aspect-ratio: 1.7 / 1;
            min-height: 300px;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            };
        }
        .content {
            margin: 0 auto;  
            padding: 1.5rem;
            width: 100%;
            .title {
                margin-bottom: 1.5rem;
                color: $primary;
            }
            p {
                margin: 0 auto 1.5rem;
            }    
            a {
                text-decoration: none;
            }
        }
        a.btn {
            margin: auto 1.5rem 1.5rem 1.5rem;
            text-align: center;
            width: auto;
            text-align: center;
            border-radius: 50px;
        }
    }
    &.v2 {
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 50px;
        border: 1px solid $tertiary;
        padding: 50px;
        align-items: flex-start;

        .image-container {
            position: relative; 
            margin-bottom: 1rem;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            };
        }
        .content { 
            .title {
                margin-bottom: 1.5rem;
            }
            p {
                margin: 0 auto 1.5rem;
            }   
        }
    }
    &-blog {
        a {
            text-decoration: none;
            display: flex;
            flex-direction: column;
            height: 100%;
            color: $black;
            border-radius: 50px;
            transition: all .3s;
            .image-container{
                overflow: hidden;
                line-height: 0;
                border-top-left-radius: 50px;
                border-top-right-radius: 50px;
                border: 1px solid #e5e5e5;
                border-bottom: none;
                aspect-ratio: 2 / 1; 
                img {
                    width: 100%;
                    object-fit: cover;
                    aspect-ratio: 2 / 1;
                    transition: all .3s;
                }
            }

            .card-content {
                padding: 1.5rem 2.5rem 2.5rem 2.5rem;
                border: 1px solid #e5e5e5;
                height: 100%;
                flex: 1;
                border-bottom-left-radius: 50px;
                border-bottom-right-radius: 50px;
                .entry-categories {
                    font-weight: 700; 
                    color: $tertiary-dark;
                    margin-bottom: .3rem;
                }
                .entry-content {
                    margin-top: 1rem;
                }
            }
            &:hover {
                img {
                    transform: scale(1.1);
                }
                background: $tertiary-super-light;
            }
        }

    }

    //Rank Math
    .rank-math-business-wrapper {
        .rank-math-business-name {
            font-size: 20px;
            margin-bottom: .5rem;
        }
        h5 {
            display: none;
        }
        address {
            margin-bottom: .5rem;
            font-style: normal;
            font-size: 16px;  
        }
    }
}

.center_align {
    .default {
        .content {
            text-align: center;
        }
    }
    .v2 { 
        align-items: center;
        .content {
            text-align: center;
        }
    }
}

a.card.v2 {
    text-decoration: none;
    color: inherit;
    transition: all .3s;

    &:hover {
        background: #9db7e533;
    }
}

//Secondary Card Style
.card-component {
    &.secondary_style {
        .card {
            &.default {
                background: $primary;
                border-radius: 20px;
                padding: 3rem 1rem;
                box-shadow: 0px 4px 5px -2px #00000052;
            }
        }
    }
}

.blog-page {

    .blog-intro {
        margin-bottom: 4rem;
        .title {
            padding-bottom: 1rem;
            border-bottom: 4px solid $primary;

        }
    }
    .blog-content {
        border-top: 4px solid $primary;
        margin-top: 4rem;
        padding-top: 2rem;
    }
    .blog-posts {
        display: grid;
        grid-template-columns: 1fr; /* Default to full width */
        gap: 16px; /* Space between items */


        @media (min-width: 600px) {
            grid-template-columns: 1fr 1fr; /* Two columns for rows after the first */
        }
        
        &.featured {
            margin-bottom: 5rem;
            @media (min-width: 600px) {
                grid-template-columns: 1fr 1fr; /* Two columns for rows after the first */
            }
            @media (min-width: 992px) {
                grid-template-columns: 1fr 1fr 1fr; /* Two columns for rows after the first */
            }
        } 
    }
}

.pagination-navigation {
    .page-numbers {
        font-size: 20px;
        padding: 5px 10px;
        &.current {
             background: $tertiary;
             color: white;
        }
    }
}


.with-padding {
    padding-bottom: 5rem;
}