.card-component {
    overflow-x: clip;
    margin: 5rem 0rem;
    position: relative;
    @media(max-width: 992px){
        margin: 3rem 0rem;
    }
    &.more-padding {
        padding: 6rem 0;
    }
    .intro-content {
        z-index: 1;
        position: relative;
        max-width: 800px;
        margin: 0 auto 4rem;
        text-align: center;
        .line {
            display: inline-block;
        }
        .section-sub-title,
        .section-title,
        .description { 
            text-align: center;
        }
        .section-sub-title {
            &:before {
                margin: 0 auto .75rem auto;
            }
        }
    }
    .card-row {
        z-index: 1;
        position: relative;
        justify-content: center;

        .card-col {
            .circle-graphic {
                position: absolute;
                max-width: 400px;
                top: -6rem;
                right: -6rem;
            }
        }

    }
    .ornament {
        position: absolute;
        z-index: 0;
        top: 0;
        width: 10vw;

        &.left {
            top: 5rem;
            left: 5%;
            transform: rotate(20deg);
        }
        &.right {
            top: -20%;
            right: 5%;
            transform: rotate(-20deg);
        }

        @media(max-width: 1185px){
            display: none;
        }
    }
}

.vendor-listing-section {
    margin: 5rem 0rem;
    @media(max-width: 992px){
        margin: 2rem 0rem;
    }
    .content {
        max-width: 992px;
        margin: 0rem auto 4rem;
    }

    .category-intro {
        display: flex;
        justify-content: center;

        margin-bottom: 3rem;
        @media(max-width: 992px){
            flex-direction: column
        }
        h2 {
            margin-bottom: 0px;
            text-align: center;
            flex: none;
        }
        svg {
            width: 40%;
            @media(max-width: 992px){
                width: 100%;
            }
        }
    }
}