@font-face {
    font-family: 'Montserrat-Variable';
    src: url(Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

