.main-navigation {
    &.desktop {
        ul.mega-menu {
            display: flex;
            gap: 20px;
        }

        ul.mega-menu {
            > li {
            position: initial;
    
            // child menu
            > ul.sub-menu {
                &.show {
                    display: flex;
                } 
                display: none;
                position: absolute;
                left: 0 !important;
                top: 100%;
                width: 100%;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                background: white;
                border-top: 1px solid #eeeeee;
    
                > li {
                    float: left;
                    width: 25%; /* 4 columns = 25% width for each */
                    padding: 30px;
                    &.bg-gray {
                        background-color: #EEEEEE;
                    }
                    &.menu-title {
                        > a {
                            font-size: 14px;
                            font-weight: 800;
                            color: $black;
                            &:after {
                                content:"";
                                background-color: $primary;
                                height: 3px;
                                width: 50px;
                                margin: 1rem 0rem;
                                border-radius: 10px;
                            }
                        }
                    }
    
                    //sub menu of child
                    ul.second-level-menu {
                        li {
                            a {
                                text-align: left;
                                text-decoration: none;
                                width: fit-content;
                                
                                &.link-container {
                                    width: 100%;
                                    display: flex;
                                    gap: 12px;
                                    padding: 10px;
                                    border-radius: 8px;
                                    border: 1px solid transparent;
                                    margin-bottom: 1rem;
                                    .menu-icon {
                                        min-width: 24px;
                                        img {
                                            width: 24px;
                                        }
                                    }
                                    .menu-content {
                                        .menu-title {
                                            font-size: 16px;
                                            margin: 0px;
                                            color: $secondary;
                                            font-weight: 600; 
                                        }
                                        .menu-description {
                                            font-size: 14px;
                                            display: block;
                                        }
                                    }
                                    span {
                                        display: block;
                                    }
                                    &::after {
                                        display: none;
                                    }
    
                                    &:hover {
                                        background: rgba(157, 183, 229, 0.2);
                                        border-color: #9DB7E5;
                                        color: $black;
                                    }
                                }
     
                            }


                            &.menu-item-has-children {
                                > a {
                                    margin: 0px;
                                }
                                //Third Level Menu
                                > ul.sub-menu { 
                                    margin-left: 42px; 
                                    a {
                                        font-size: 15px;
                                    }
                                }
                            }
 
                        }
                    }
    
                    
                }
    
    
                /* Clear floats */      
                &:after { 
                    content: "";
                    display: table;
                    clear: both;
                }
            }
            }
            /* Styling for the mega menu columns */ 
            li:hover > ul.sub-menu {
                
            }
        }
    }


    &.mobile {
        &.toggled {
            .mobile-container {
                left: 0;
            }
        }
        .mobile-container {
            height: 100vh;
            position: absolute;
            background: white;
            top: 0; 
            left: 100%;
            width: 100%;
            transition: all .3s;
            background: $white;
            .menu-navigation {
                border-bottom: 1px solid #eeeeee;
                height: 80px;
                display: flex;
                align-items: center;
                padding: 1rem;
                .arrow-container {
                    display: none;
                    &.show {
                        display: block;
                    }
                }
            }
            .menu-section {
                position: relative;
                height: 80%;
                overflow: hidden;
            }
            .menu-contact {
                border-top: 1px solid #eeeeee;
                height: 10%;

                .social_media,
                .header_phone,
                .header-contact {
                    display: inherit !important;
                }
            }
        }

		ul.mega-menu {
			overflow: auto;

            > li {
            position: initial;

                > a {
                    padding: 1rem;
                    font-size: 1.5rem;
                }
                // child menu
                > ul.sub-menu {
                    width: 100%;
                    position: absolute;
                    background: white;
                    top: 0;
                    left: 100%;
                    transition: all .3s;
                    &.show {
                        left: 0;
                        height: 100%;
                        overflow: auto;
                    } 
                    > li {
                        &.bg-gray {
                            background-color: #EEEEEE;
                        }
                        &.menu-title {
                            > a {
                                font-size: 14px;
                                font-weight: 800;
                                color: $black;
                                &:after {
                                    content:"";
                                    background-color: $primary;
                                    height: 3px;
                                    width: 50px;
                                    margin: 1rem 0rem;
                                    border-radius: 10px;
                                }
                            }
                        }
        
                        //sub menu of child
                        ul.second-level-menu {
                            li {
                                a {
                                    text-align: left;
                                    text-decoration: none;
                                    width: fit-content;
                                    
                                    &.link-container {
                                        width: 100%;
                                        display: flex;
                                        gap: 12px;
                                        padding: 10px;
                                        border-radius: 8px;
                                        border: 1px solid transparent;
                                        margin-bottom: 1rem;
                                        .menu-icon {
                                            min-width: 24px;
                                            img {
                                                width: 24px;
                                            }
                                        }
                                        .menu-content {
                                            .menu-title {
                                                font-size: 16px;
                                                margin: 0px; 
                                                color: $secondary;
                                                font-weight: 600; 
                                            }
                                            .menu-description {
                                                font-size: 14px;
                                                display: block;
                                            }
                                        }
                                        span {
                                            display: block;
                                        }
                                        &::after {
                                            display: none;
                                        }
        
                                        &:hover {
                                            background: rgba(157, 183, 229, 0.2);
                                            border-color: #9DB7E5;
                                            color: $black;
                                        }
                                    }
        
                                }
                            }
        
                        }
        
                        
                    }
        
        
                    /* Clear floats */      
                    &:after {
                        content: "";
                        display: table;
                        clear: both;
                    }
                }
                }
        }
	}
}