.btn,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid;
	border: none; 
	background-color: $primary;
	color: $white;
	line-height: 1;
    padding: 1rem 1.2rem;
	text-decoration: none;
	font-size: 16px;
	text-transform: uppercase;
	display: inline-block;
	font-weight: 600;
	transition: all .3s;
	border: 2px solid $primary;
	text-align: center;

	&.secondary {
		color: $white;
		background-color: $black;
		border: 2px solid $black;
	}

	&.transparent {
		color: $black;
		background-color: transparent;
		border: 2px solid $black;
	}

	&:hover {
		color: $white;
		background-color: $primary-dark;
		border: 2px solid $primary-dark;

		&.secondary {
			color: $black !important;
			background-color: transparent;
			border: 2px solid $black;
			&.filled {
				background-color: $white;
			}
		}

		&.transparent {
			color: $white;
			background-color: $black;
			border: 2px solid $black;
		}
	}

	&:active,
	&:focus {
		// border-color: $color__border-button-focus;
	}

	//Active Button 
	&.active {
		background: white;
		color: $secondary-dark;
	}
}


//Forminator Button Overwrite
.forminator-button {
	border: 1px solid !important;
	border: none !important;
	border-radius: 20px !important;
	background-color: $color__background-button !important;
	color: white !important;
	line-height: 1 !important;
    padding: 0.75rem 1.5rem .55rem !important;
	text-decoration: none !important;
	font-size: 20px !important;
	text-transform: uppercase !important;
	display: inline-block !important;

	transition: all .3s !important;

	border: 2px solid $secondary-dark !important;

	&:hover {
		color: white !important;
		background-color: $secondary-dark !important;
		border: 2px solid $secondary-dark !important;
	}
}

.ui-datepicker-header,
.ui-datepicker-calendar {
	background: white !important;
}