a {
	color: $tertiary;
	transition: .3s color;

	// &:visited {
	// 	color: $color__link-visited;
	// }

	&:hover,
	&:focus,
	&:active {
		outline: 0;
		color: $tertiary-dark
	}

	&:focus {
		outline: thin dotted;
	}
}
