$primary: #991E2D;
$primary-light: #ff344c;
$primary-dark: #69151f;
$secondary: #0637A3;
$secondary-dark: #042364;
$tertiary: #9DB7E5;
$tertiary-light: #9099d4;
$tertiary-super-light: rgba(157, 183, 229, 0.2);
$tertiary-dark: #6E75A3;
$black: #3E3E3E;
$black-dark: #2b2b2b;
$white: #fff;


$color__background-body: #fff;
$color__background-screen: #fff;
$color__background-hr: #ccc;
$color__background-button: $secondary-dark;
$color__background-pre: #eee;
$color__background-ins: #fff;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $primary;
$color__link-visited: $primary;
$color__link-hover: $primary-light;
$color__text-main: #404040;

$color__navigation-link: $black;
$color__navigation-link-hover: $white;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;
